---
title: Exponential Happiness
permalink: "/book/"
layout: page
comments: false

---

<section class="py-5">
	<div class="row">
	    <div class="col-lg-6">
	    	<h2>A TRAVEL GUIDE FOR THE JOURNEY OF LIFE</h2>
			<p>From concert promoter to international economic developer, and from Germany to Kyrgyzstan, American author and travel addict Judson L Moore seems to have done it all and to have done it everywhere. <strong>Get a sneak peek today</strong> at his new book: a guide to his learnings, adventures, and life hacks for how to discover and achieve your goals.</p>
			{% include form-opt-in.html %}
	    </div>
	    <div class="col-lg-6 d-none d-lg-block">
			{% cloudinary /assets/images/2019/05/exponential-happiness-book-cover-paperback-3d.png alt="" description="" %}
		</div>
	</div>
</section>

<section class="py-5">
	<div class="card text-white bg-secondary my-5 p-4">
		<div class="card-body">
			{% assign quote = site.data.text %}
			{% assign quote = quote["quote"] %}
			{% include carousel-text.html quote=quote %}
		</div>
	</div>
</section>

<section class="py-5">
	<div class="row">
	    <div class="col-lg-9">
			<h3>ABOUT THE AUTHOR</h3>
			<p>I didn't have many extraordinary advantages growing up, but what I did have was the encouragement of those older than me saying, "do it while you're young." One day, when I was 17, that advice stuck and I started traveling the world. I haven't stopped and now half a lifetime later, I want to tell the world what I've learned and how YOU can live an adventurous and prosperous life!</p>
		</div>
		<div class="col-lg-3 d-none d-lg-block">
			{% cloudinary /assets/images/2016/08/Avatar-JudsonLMoore-Casual-Round.png alt="" description="" %}
		</div>
	</div>
</section>

<section class="py-5">
	<div class="row">
	    <div class="col-lg-6">
	    	{% cloudinary /assets/images/2019/05/exponential-happiness-book-cover-digital.png alt="Book cover mockups for Exponential Happiness" description="Available in paperback, and all e-reader formats." %}
	    </div>
	    <div class="col-lg-6">
	    	<h2>TABLE OF CONTENTS</h2>
			<ul>
				<li><strong>Chapter 1:</strong> Will this book change my life?</li>
				<li><strong>Chapter 2:</strong> Identifying your “What if”</li>
				<li><strong>Chapter 3:</strong> Why Start While Young?</li>
				<li><strong>Chapter 4:</strong> Making logical, data-driven, and safe choices</li>
				<li><strong>Chapter 5:</strong> Taking The First Step: Showing Up</li>
				<li><strong>Chapter 6:</strong> Thank Goodness for Failure</li>
				<li><strong>Chapter 7:</strong> Sacrifices and Rewards</li>
				<li><strong>Chapter 8:</strong> Building a Community</li>
				<li><strong>Chapter 9:</strong> How to Know You’ve “made it”</li>
				<li><strong>Chapter 10:</strong> Pay It Forward</li>
			</ul>
	    </div>
	</div>
</section>

<section class="py-5">
	<div class="row">
	    <div class="col-lg-6">
	    	<h2>Don't miss your opportunity</h2>
			<p>Sign up today to gain immediate access to the first 3 chapters of <i>Exponential Happiness</i> and be the first to know when the completed book is published.</p>
	    </div>
	    <div class="col-lg-6">
			{% include form-opt-in.html %}
		</div>
	</div>
</section>