---
title: 			Exponential Happiness offer for LSU of Alexandria
permalink: 		"/book-lsua/"
description:    x
layout: 		page
comments: 		false
sitemap: 		false
leanpub: 		lsuapsyc
beneficiary:	LSU of Alexandria
image:          /assets/images/2019/11/judsonlmoore-holding-exponential-happiness.jpg
---


<div class="row justify-content-center mb-md-5">
    <div class="col-md-4 mb-5 mb-md-0">
        <span class="badge badge-info">New book!</span>
        <h1 class="display-5">Exponential Happiness</h1>
        <p class="lead">How to identify and pursue life goals starting at a young age</p>
        <div class="row no-gutters">
            <div class="col-1 pr-1">
                {% cloudinary /assets/images/2016/08/Avatar-JudsonLMoore-Casual-Round.png alt="" description="" class="float-left" %}
            </div>
            <div class="col-11">
                <p>Judson L Moore</p>
            </div>
        </div>
        <p>My secret? I did it while I was young! That is a very cliche thing to say, but it is not at all a cliche thing to do. Everyone has a story. This book is mine. In it, l share how I have approached the decisions which have empowered me to have control of my life.</p>
        <a class="btn btn-outline-secondary btn-sm" href="#get-sample" role="button"><span>Read Free Sample </span>{% include icons/pdf.svg %}</a>
    </div>
    <div class="col-6 col-md-4 mb-5 mb-md-0">
        {% cloudinary /assets/images/2019/05/exponential-happiness-book-cover-flat.jpg alt="Book cover of Exponential Happiness by Judson L Moore" class="shadow" %}
    </div>

	<div class="col-md-4 mb-5 mb-md-0">
	    <div class="card rounded">
	        <div class="card-body bg-white text-dark"> <span class="badge badge-info">Exclusive</span> LSU of Alexandria
	            <h3>Get your copy here</h3>
	            <hr>
	            <p><strong>Paperback discount</strong></p>
	            <p>Pay with your PayPal account, credit, or debit card and show your receipt to Greg to receive your paperback edition of <em>Exponential Happiness</em>.</p>
	            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center">
	                <input type="hidden" name="cmd" value="_s-xclick">
	                <input type="hidden" name="hosted_button_id" value="VY7NDJST522GL">
	                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>
	            <p class="small">No PayPal account? No problem! Just click on "create account" and you will be able to checkout as a guest without an account.</p>
	            <hr>
	            <p><strong>Free digital edition</strong></p>
	            <p>Use this button to download for free from my publisher's website. Just "add to cart" and checkout. No payment required.</p><a class="btn text-white" href="http://leanpub.com/exponentialhappiness/c/lsuapsyc" target="_blank" role="button" style="background:#000">Download on Leanpub {% include icons/leanpub.svg %}</a></div>
	    </div>
	</div>
</div>

{% include exponential-happiness-about.html %}

{% include exponential-happiness-author.html %}

{% include exponential-happiness-reviews.html %}

{% include exponential-happiness-sample.html %}

{% include exponential-happiness-bulk-orders.html %}
