---
title:      Exponential Happiness Book Preview
permalink   "/exponential-happiness-book-preview/"
layout:     page
comments:   false
sitemap:    false
image:      /assets/images/2019/11/judsonlmoore-holding-exponential-happiness.jpg

---


<div class="row">
    <div class="col-lg-12">

		<h2>Thank you for being an early reader of my first book!</h2>
		<p><strong>Click the buttons below</strong> to access the first three chapters of the book. Your encouragement, feedback, and support mean the world to me, and I appreciate hearing from you with your thoughts!</p>

	</div>
</div>

<div class="row">
    <div class="col-lg-3">
    	<a href="https://leanpub.com/exponentialhappiness/read_sample" class="btn btn-outline-dark btn-lg btn-block" role="button" target="_blank" rel="noopener">{% include icons/book.svg %} Read Online</a>
    	<P>Read online in your web browser.</P>
	</div>
    <div class="col-lg-3">
    	<a href="http://samples.leanpub.com/exponentialhappiness-sample.pdf" class="btn btn-outline-dark btn-lg btn-block" role="button" target="_blank" rel="noopener">{% include icons/download.svg %} Download .pdf</a>
    	<P>An easy way to read on your computer and mobile devices.</P>
	</div>
    <div class="col-lg-3">
    	<a href="http://samples.leanpub.com/exponentialhappiness-sample.mobi" class="btn btn-outline-dark btn-lg btn-block" role="button" target="_blank" rel="noopener">{% include icons/download.svg %} Download .mobi</a>
    	<P>For reading on mobile devices and e-readers.</P>
	</div>
    <div class="col-lg-3">
    	<a href="http://samples.leanpub.com/exponentialhappiness-sample.epub" class="btn btn-outline-dark btn-lg btn-block" role="button" target="_blank" rel="noopener">{% include icons/download.svg %} Download .epub</a>
    	<P>For reading on mobile devices and e-readers.</P>
	</div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8 mb-5">

        <h3 class="text-center display-4 mb-5">Audiobook preview</h3>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k9EM_sqdFUk" allowfullscreen></iframe>
        </div>

    </div>
</div>