---
title:          Exponential Happiness Book Preview
description:    Download a preview of the digitial edition of Exponential Happiness
permalink:      "/exponential-happiness-book-preview/"
layout:         page
sitemap:        false
image:          /assets/images/2019/11/judsonlmoore-holding-exponential-happiness.jpg
---


<div class="row mb-5">
    <div class="col">

		<h2>Select your preview</h2>
		<p><strong>Click the buttons below</strong> to access the first three chapters of the book. Your encouragement, feedback, and support mean the world to me, and I appreciate hearing from you with your thoughts!</p>

	</div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-3 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{% include icons/book.svg %} Read Online</h5>
        <p class="card-text">For reading in your browser.</p>
        <a href="https://leanpub.com/exponentialhappiness/read_sample" class="btn btn-primary" target="_blank" >Select</a>
      </div>
      <div class="card-footer">
          <small class="text-muted">Easiest</small>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-3 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{% include icons/download.svg %} Download .pdf</h5>
        <p class="card-text">For reading on all devices.</p>
        <a href="http://samples.leanpub.com/exponentialhappiness-sample.pdf" class="btn btn-primary" target="_blank" >Select</a>
      </div>
      <div class="card-footer">
          <small class="text-muted">Most popular</small>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-3 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{% include icons/download.svg %} Download .mobi</h5>
        <p class="card-text">For reading on the go.</p>
        <a href="http://samples.leanpub.com/exponentialhappiness-sample.mobi" class="btn btn-primary" target="_blank" >Select</a>
      </div>
      <div class="card-footer">
          <small class="text-muted">Amazon Kindle</small>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-3 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{% include icons/download.svg %} Download .epub</h5>
        <p class="card-text">For reading on the go.</p>
        <a href="http://samples.leanpub.com/exponentialhappiness-sample.epub" class="btn btn-primary" target="_blank" >Select</a>
      </div>
      <div class="card-footer">
          <small class="text-muted">iOS, Android, and Nook</small>
      </div>
    </div>
  </div>
</div>