---
title: Resume
permalink: "/resume/"
layout: page
comments: true

---


<div class="jumbotron jumbotron-fluid pb-0">
	<div class="row">

	    <div class="col-xl-6 d-none d-xl-block">
			{% cloudinary default /assets/images/2016/05/avatar-judson-l-moore-transparent-bg.png alt="" description="" %}
		</div>

		<div class="col-xl-6 pb-5">
			<div class="container">
				<h1 class="display-4">Resume</h1>
				<p class="">As a product manager and social entrepreneur, I am constantly seeking ways to leverage innovative ideas and technology to solve world problems. I seek adventures which help me to better understand the world's diverse cultures. My travels have enabled me to support journalism education initiatives in Central Asia, women's empowerment projects in Egypt, and economic development ventures in the vibrant tech sector of Austin Texas.</p>
				<p class="">I currently live in Berlin, Germany, where I work with the <a href="https://www.ebayclassifiedsgroup.com/" target="_blank" rel="noopener noreferrer">eBay Classifides Group</a>.</p>
				<p class="">I like to write <a href="/book/">non-fiction books</a> and <a href="https://drumson.de/" target="_blank">play drums</a>.</p>

				<a href="https://www.linkedin.com/in/judsonlmoore/" class="btn btn-primary btn-lg">LinkedIn <i class="fas fa-external-link-alt"></i></a>
				<a href="https://docs.google.com/document/d/1AtH76fNIOcY7qPpdwEZK9Cv8fu4axDvZGHIymPJUSJw/export?format=pdf" class="btn btn-primary btn-lg">PDF Resume <i class="fas fa-download"></i></a>
			</div>
		</div>

	</div>
</div>

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<p class="lead">International economic and community development professional with 10+ years of consulting experience in both the private business space and the NGO / humanitarian aid relief sectors on five continents. I am trusted with a top secret security clearance and have a proven commitment to fostering partnerships which bring innovative thought and technology to the forefront of solving problems at community and global scales.</p>
	</div>
</div>

<section>
	<div class="row">
	    <div class="col-lg-8">
			<h3>Work Experience</h3>

			{% for item in site.data.experience %}
			<h4>{{ item.title }}</h4>
			<p><strong>{{ item.company }}</strong>, {{ item.city }}<em> {{ item.country }}</em> | {{ item.start }} &ndash; {{ item.end }}</p>
			<ul>
				{% for point in item.points %}
				<li>{{ point }}</li>
				{% endfor %}
			</ul>
			{% endfor %}
			
			<p>
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#moreExperience" aria-expanded="false" aria-controls="moreExperience">Read More</button>
			</p>
			<div class="collapse" id="moreExperience">

				<h4>Assistant Director of Student Affairs</h4>
				<p><strong>Loyola University</strong>, New Orleans, LA<em> </em>USA | 2009 &ndash; 2010</p>
				<ul>
					<li>Crafted and taught event management curriculum to student organizations and student leaders</li>
				</ul>

			</div>

		</div>

		<div class="col-lg-4">

			<h4>Clearence</h4>
			<p>Cleared for TOP SECRET information and granted access to Sensitive Compartmented Information based on Single Scope Background Investigation completed on 10/31/2014.</p>

			{% for skill in site.data.skills %}
			<h4>{{ skill.name }}</h4>
			{% for item in skill.items %}
			<dl class="row no-gutters">
				<dt class="col-sm-12">{{ item.skill }}</dt>
				<dd class="col-sm-12">
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: {{ item.strength }}%;" aria-valuenow="{{ item.strength }}%" aria-valuemin="0" aria-valuemax="100">{{ item.strength }}%</div>
					</div>
				</dd>
			</dl>
		 	{% endfor %}
			{% endfor %}

		</div>

	</div>
</section>

<section>
	<div class="row">
	    <div class="col">

			<h2>WHAT OTHERS SAY</h2>
			<p>Here are a few recommendations I have received. Contact me for more information.</p>

			<div class="card-columns">

				{% for item in site.data.recomendations %}
				<div class="card">
					<div class="card-body">
					  <p class="card-text">{{ item.quote }}</p>
					  <h5 class="card-title">{{ item.source }}</h5>
					  <p class="card-text"><small class="text-muted"> {{ item.title }} </small></p>
					  <p class="card-text"><small class="text-muted"><a href="{{ item.url }}" target="_blank">{{ item.employer }}</a></small></p>
					</div>
				</div>
				{% endfor %}

			</div>

		</div>
	</div>
</section>
