---
title: Rotary eClub of Silicon Valley
permalink: "/book-rcsv/"
layout: page
comments: false
short_name: judsonlmoore
sitemap: false


---

<div class="row justify-content-center mb-md-5">
	<div class="col-md-4 mb-5 mb-md-0">
		<span class="badge badge-info">New book!</span>
		<h1 class="display-5">Exponential Happiness</h1>
		<p class="lead">How to identify and pursue life goals starting at a young age</p>
		<div class="row no-gutters">
			<div class="col-1 pr-1">
				{% cloudinary /assets/images/2016/08/Avatar-JudsonLMoore-Casual-Round.png alt="" description="" class="float-left" %}
			</div>
			<div class="col-11">
				<p>Judson L Moore</p>
			</div>
		</div>
		<p>My secret? I did it while I was young! That is a very cliche thing to say, but it is not at all a cliche thing to do. Everyone has a story. This book is mine. In it, l share how I have approached the decisions which have empowered me to have control of my life.</p>

		<!-- <a class="btn btn-outline-secondary btn-sm" href="#toc" role="button"><span>Table of Contents </span><i class="fa fa-list-ol"></i></a> -->
		<!-- <a class="btn btn-outline-secondary btn-sm" href="#get-sample" role="button"><span>Read Free Sample </span><i class="far fa-file-pdf"></i></a> -->
	</div>
	<div class="col-6 col-md-4 mb-5 mb-md-0">
		{% cloudinary /assets/images/2019/05/exponential-happiness-book-cover-flat.jpg alt="Book cover of Exponential Happiness by Judson L Moore" class="shadow" %}
	</div>
	<div class="col-md-4 mb-5 mb-md-0">

		<div class="card rounded" >
			<div class="card-body bg-white text-dark">

				<h2>Download here</h2>
				<p class="lead my-3">Provide your email address and I will email you a free digitial edition of <em>Exponential Happiness</em>.</p>

				{% include form-opt-in-book-preview.html user="fcb5f983e8f1c7cb022f4353b" list="2d85dca5fe" fname="true" lname="true" value="32" %}

			</div>
		</div>

	</div>
</div>

{% include exponential-happiness-about.html %}

<div class="row justify-content-center mb-5">
	<div class="col-md-6">
		{% include exponential-happiness-author.html %}
	</div>
	<div class="col-md-6">
		{% cloudinary /assets/images/2020/01/judson-l-moore-speaks-at-rotary-club-of-alexandria.jpg alt="Judson speaks to the Rotary Club of Alexandria" %}  
	</div>
</div>

<div class="row justify-content-center bg-light mx-1 mx-md-0 mb-5 p-2 p-md-5">
	<div class="col-md-8">
		<blockquote class="blockquote text-center">
			<p class="mb-0">"Do it while you're young," a cliché thing to say, but not at all a cliché thing to do. Your life's experiences are the outcome of the decisions you make. Pursue your goals as young as possible and enjoy a life of exponential happiness!</p>
			<footer class="blockquote-footer">Judson L Moore <cite title="Source Title">Author</cite></footer>
		</blockquote>
	</div>
</div>

{% include exponential-happiness-bulk-orders.html %}

