---
title: Thank you for updating your information
permalink: "/subscription-updated/"
layout: page
comments: false

---

<div class="row">

	<div class="col-lg-8">

        <h2>Thank you for updating your information!</h2>
        
		<p>Now that I have that updated info, be on the look out for some hot new goodies!</p>

        <p>Be sure to <strong>read some of these articles</strong> and <strong>please leave a comment</strong> bellow each one with your thoughts, feedback, and questions!</p>

        <h2>And don’t forget…</h2>
        <p><strong>Please Follow Me on Social Media</strong></p>
        <p><strong>Public</strong> Facebook Page: <a href="https://www.facebook.com/judsonlmooreblog" target="_blank" rel="noopener">Judson L Moore’s Facebook Page</a></p>
        <p><strong>Follow Me</strong> on Twitter: <a href="http://twitter.com/judsonlmoore" target="_blank" rel="noopener">@JudsonLMoore</a></p>
        <p><strong>See Me</strong> on Instagram: <a href="https://www.instagram.com/judsonlmoore//" target="_blank" rel="noopener">@JudsonLMoore</a></p>

	</div>

	<div class="col-lg-4">
		<img src="/assets/images/2016/11/youre-awesome.jpg">
	</div>

</div>

<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Read these popular posts</span></h2>
    </div>

    <div class="row">
        {% for post in site.posts %}
            {% if post.featured == true %}
                {% include postbox.html %}
            {% endif %}
        {% endfor %}
    </div>

</section>