---
title:          Thank you for updating your information
description:    A nice thank you message for subscribers who have updated their contact information 
permalink:      "/subscription-updated/"
layout:         page
sitemap:        false
---


<div class="alert alert-success" role="alert">Your information has been updated</div>

<h2><span>Read these popular posts</span></h2>

<p>Be sure to <strong>read some of these articles</strong> and <strong>please leave a comment</strong> below each one with your thoughts, feedback, and questions!</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    {% for post in site.posts %}
        {% if post.featured == true %}
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
</div>