---
layout: default
title: Home
---

<div class="site-content">
  <div class="container">

    <!-- Content
  ================================================== -->
    <div class="main-content">

        {% if page.url == "/" %}

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
          <div class="col-lg-7">
            {% include carousel-featured.html %}
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-5">
            <h1 class="font-weight-light">Business Name or Tagline</h1>
            <p></p>
            <a class="btn btn-primary" href="#">Call to Action!</a>
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Featured
        ================================================== -->
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Featured</span></h2>
            </div>
            <div class="row">

            {% for post in site.posts %}

                {% if post.featured == true %}

                    {% include featuredbox.html %}

                {% endif %}

            {% endfor %}

            </div>
        </section>

        {% endif %}

        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary d-none d-lg-block my-5 py-4 text-center">
          <div class="card-body">
            <div class="row">
                <div class="col-lg-2">
                    <img class="alignleft" src="{{ site. url }}{{ site.image-path }}/2016/08/Avatar-JudsonLMoore-Casual-Round.png" alt="Avatar Judson L Moore" width="100" height="100">
                </div>
                <div class="col-lg-10">
                    <p class="lead text-white"><span class="align-middle"><strong>Do you want to <em>experience</em> the world?</strong> I encourage you to get an <u>early</u> start at living a full and adventurous life by providing tips for living your "what if" <strong>#WhileYoung</strong>.</span></p>
                </div>
            </div>
          </div>
        </div>

        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">

            <div class="section-title">

                <h2><span>All Stories</span></h2>

            </div>

            <div class="row listrecent">

                {% for post in paginator.posts %}

                {% include postbox.html %}

                {% endfor %}

            </div>

        </section>

        <!-- Pagination
        ================================================== -->
        <div class="bottompagination">
        <div class="pointerup"><i class="fa fa-caret-up"></i></div>
        <span class="navigation" role="navigation">
            {% include pagination.html %}
        </span>
        </div>

    </div> <!-- main-content -->
  </div> <!-- container -->
</div> <!-- site-content -->
