---
layout: default
title: Home
---
<!-- container -->
<div class="container mt-3 mt-md-5"> 

    <div class="row">

        <div class="col-lg-8 px-3 p-sm-0">

            {% if page.url == "/" %}
            {% include carousel-featured.html %}

            <!-- Call to Action Well -->
            <div class="jumbotron text-light bg-dark d-none d-lg-block my-5 py-4 text-center align-middle shadow-sm">
                <p class="h4"><span class=""><strong>Do you want to <em>experience</em> the world?</strong> I encourage you to get an <u>early</u> start at living a full and adventurous life by providing tips for living your "what if" <strong>#WhileYoung</strong>.</span></p>
            </div>

            {% else %}
            {% endif %}

            <div class="row row-cols-1 row-cols-md-2">
                <!-- Posts Index -->
                {% for post in paginator.posts %}
                {% include postbox.html %}
                {% endfor %}
            </div>

            {% include pagination.html %}

        </div>

        {% include sidebar.html %}

    </div>

</div> 
<!-- /container -->