---
layout: default
title: Home
---

{% if page.url == "/" %}
<div id="fullwidth-img" class="container-fluid py-5 mb-0 mb-sm-5 vh-100" style="background-image: url('{{ site.image-path }}2019/11/judsonlmoore-holding-exponential-happiness.jpg'); background-size: cover; background-position: center;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12 text-center">
                <h2 class="display-3 font-weight-bolder text-white mt-5 mb-2" style="line-height: 1.5em;">
                    <span style="background-color: #000000; padding: .1rem .4rem 0 .3rem;">Pursuing happiness?</span>
                </h2>
                <h3 class="display-5 font-weight-bolder text-white mb-5">
                    <span style="background-color: #000000; padding: .1rem .4rem 0 .3rem;">You've come to the right place</span>
                </h3    >
                <a class="btn btn-lg btn-primary" href="{{ site.url }}/happiness/">Find happiness here</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container mt-3 mt-md-5"> 
    <div class="row text-light bg-dark mb-5 mx-1 p-4 text-center align-middle position-relative">
        <p class="h4"><span class=""><strong>Do you want to <em>experience</em> the world?</strong> I encourage you to get an <u>early</u> start at living a full and adventurous life by providing tips for living your "what if" <strong>#WhileYoung</strong>.</span></p>
        {% include modal-opt-in.html btn-text="Sounds great, tell me more!" %}
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for post in paginator.posts %}
        {% include postbox.html %}
        {% endfor %}
    </div>
    {% include pagination.html %}
</div>