<div class="alert alert-dark" role="alert">
	<h4 class="alert-heading">Apply to be a Gabr Fellow</h4>
	<p>The East-West: The Art of Dialogue initiative organises an annual exchange program, the Gabr Fellowship, for young emerging leaders from the East and the West to join forces to develop and implement projects addressing critical issues in their countries. Applications open each spring.</p>
	<hr>
	<a class="btn btn-dark" href="https://eastwestdialogue.org/fellowship/" role="button" target="_blank">Learn more</a>
</div>