<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-content">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">Under conditions which many would consider unbearable, Judson not only found a way to try something new, but he was the driving force behind making it flourish.</p>
                            <footer class="blockquote-footer">Bettina Ruigies, <cite title="Source Title">DeutscheWelle Akademie</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-content">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">I have a deep respect for Judson’s passion and commitment to free speech and social justice.</p>
                            <footer class="blockquote-footer">Seth Fearey, <cite title="Source Title">United States Peace Corps</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-content">
                        <blockquote class="blockquote text-center">                         
                            <p class="mb-0">Judson has a way to rally people, get them on side and aligned with goals.</p>
                            <footer class="blockquote-footer">Christine Rybas, <cite title="Source Title">Paul Cummings Enterprises</cite></footer>
                        </blockquote>
                    </div>
                </div>              
                <div class="carousel-item">
                    <div class="carousel-content">
                        <blockquote class="blockquote text-center">                         
                            <p class="mb-0">Judson has shown broad abilities in the strengthening of media pluralism, building institutional capacities of media NGOs and outlets.</p>
                            <footer class="blockquote-footer">Sergey Karpov, <cite title="Source Title">UNESCO</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
