<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row p-3 p-md-5 bg-light">
        <div class="carousel-inner">

            {% for item in site.data.recommendations %}
            {% if forloop.first == true %}

            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}

                <div class="carousel-content text-center lead">

                    <blockquote class="blockquote text-center">
                        <p class="mb-0">{{ item.quote }}</p>
                        <footer class="blockquote-footer">
                            <a href="{{ item.url }}" class="text-muted">{{ item.source }} <cite title="Source Title">{{ item.title }} at {{ item.employer }}</cite></a>
                        </footer>
                    </blockquote>

                </div>

            </div>
            {% endfor %}
        </div>

    </div>
</div>
