<style type="text/css">
    img.d-block {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }
</style>

{% assign images ="" %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for post in site.posts %}
        {% if post.featured == true %}
        {% if forloop.first == true %}
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        {% else %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index0 }}"></li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ol>

    <div class="carousel-inner">

        {% for post in site.posts %}
        {% if post.featured == true %}
        {% if forloop.first == true %}

        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
            <a href="{{ site.baseurl }}{{ post.url }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.excerpt | strip_html | truncatewords:25 }}</p>
                </div>
                <img class="d-block w-100" src="{% if post.image contains "://" %}{{ site.image-path }}{{ post.image }}{% else %}{{ site.image-path }}{{ post.image }}{% endif %}" alt="{{ post.title }}">
            </a>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    <!--
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    -->
</div>