<ul class="nav nav-pills mb-3 flex-nowrap overflow-auto text-capitalize text-nowrap" id="pills-tab" role="tablist">
	{% for category in site.categories %}
	{% assign cat_name = category[0] | split: " " %}
	<li class="nav-item">
		{% if forloop.first %}
	    <a class="nav-link active" id="pills-{{ cat_name | join: "-" }}-tab" data-toggle="pill" href="#pills-{{ cat_name | join: "-" }}" role="tab" aria-controls="pills-{{ cat_name | join: "-" }}" aria-selected="true">{{ cat_name | join: " " }}</a>
		{% else %}
	    <a class="nav-link" id="pills-{{ cat_name | join: "-" }}-tab" data-toggle="pill" href="#pills-{{ cat_name | join: "-" }}" role="tab" aria-controls="pills-{{ cat_name | join: "-" }}" aria-selected="true">{{ cat_name | join: " " }}</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>

<div class="tab-content" id="pills-tabContent">
	{% for category in site.categories %}
    {% assign cat_name = category[0] | split: " " %}
	{% if forloop.first %}
	<div class="tab-pane fade show active" id="pills-{{ cat_name | join: "-" }}" role="tabpanel" aria-labelledby="pills-{{ cat_name | join: "-" }}-tab">
	{% else %}
	<div class="tab-pane fade" id="pills-{{ cat_name | join: "-" }}" role="tabpanel" aria-labelledby="pills-{{ cat_name | join: "-" }}-tab">
	{% endif %}

		<div class="row row-cols-1 row-cols-sm-2">

			{% for post in category[1] limit:6 offset:0 %}
			{% include postbox-horizontal.html %}
			{% endfor %}

		</div>

	</div>
	{% endfor %}

</div>