<div class="row justify-content-center mb-md-5">
	<div class="col-md-4 mb-5 mb-md-0">
		<span class="badge badge-info">New book!</span>
		<h1 class="display-5">Exponential Happiness</h1>
		<p class="lead">How to identify and pursue life goals starting at a young age</p>
		<div class="row no-gutters">
			<div class="col-1 pr-1">
				{% cloudinary /assets/images/2016/08/Avatar-JudsonLMoore-Casual-Round.png alt="" description="" class="float-left" %}
			</div>
			<div class="col-11">
				<p>Judson L Moore</p>
			</div>
		</div>
		<p>My secret? I did it while I was young! That is a very cliche thing to say, but it is not at all a cliche thing to do. Everyone has a story. This book is mine. In it, l share how I have approached the decisions which have empowered me to have control of my life.</p>

		<!-- <a class="btn btn-outline-secondary btn-sm" href="#toc" role="button"><span>Table of Contents </span><i class="fa fa-list-ol"></i></a> -->
		<a class="btn btn-outline-secondary btn-sm" href="#get-sample" role="button"><span>Read Free Sample </span><i class="far fa-file-pdf"></i></a>
	</div>
	<div class="col-6 col-md-4 mb-5 mb-md-0">
		{% cloudinary /assets/images/2019/05/exponential-happiness-book-cover-flat.jpg alt="Book cover of Exponential Happiness by Judson L Moore" class="shadow" %}
	</div>
	<div class="col-md-4 mb-5 mb-md-0">
		{% include exponential-happiness-purchase.html %}
	</div>
</div>