<h3 class="text-center display-4 mb-5">Table of Contents</h3>
<ul class="toc no-parts">
    <li>My motivation</li>
    <li>Will this book change my life?
        <ul>
        	<li>Who is this book for?</li>
        	<li>Who am I to write this book?</li>
        	<li>Why am I writing this book now?</li>
        	<li>In the beginning</li>
        	<li>My life philosophies in a nutshell</li>
        	<li>Some universal truths</li>
        	<li>My promise to you</li>
        </ul>
    </li>
    <li>Identify your <i>what if</i>
        <ul>
        	<li>Life Goals Exercise</li>
        	<li>The 20-Year Plan</li>
        	<li>BONUS: 20-Year Plan Summary</li>
        	<li>Being spontaneous</li>
        	<li>Finding inspiration all around</li>
        	<li>LIVE the <i>if</i>; don’t just dream about it</li>
        	<li>Multiple “ifs” balance</li>
        </ul>
    </li>
    <li>Do it while you’re young
        <ul>
        	<li>Youth = flexibility = opportunity</li>
        	<li>Impact your life before you live it</li>
	        <li>Life without regrets</li>
	        <li>Time is the only thing you can’t get more of</li>
	        <li>Exponential happiness</li>
        </ul>
    </li>
    <li>Making decisions
        <ul>
        	<li>How to become an astronaut.</li>
        	<li>My winding road</li>
	        <li>Finding your path</li>
	        <li>Operational decision making</li>
	        <li>Decision making starts with a plan</li>
	        <li>Question yourself</li>
	        <li>Repeat. Refine.</li>
        </ul>
    </li>
    <li>Showing up
        <ul>
        	<li>The power of raising your hand</li>
        	<li>Believing in yourself</li>
	        <li>Give others the chance to believe in you</li>
	        <li>Accept every invitation</li>
	        <li>Excuses vs. reasons</li>
        </ul>
    </li>
    <li>Thank goodness for failure
        <ul>
        	<li>When to reassess</li>
        	<li>Make failure an opportunity</li>
	        <li>Fail</li>
	        <li>Optimism vs. pessimism</li>
        </ul>
    </li>
    <li>Sacrifices and rewards
        <ul>
        	<li>Appreciating what you lose</li>
        	<li>Appreciating the moment</li>
	        <li>Appreciating what you gain</li>
	        <li>Saying goodbye</li>
	        <li>Saying hello</li>
        </ul>
    </li>
    <li>Pay it forward
        <ul>
        	<li>The essence of giving back</li>
        	<li>The rewards of giving</li>
	        <li>How to pay it forward</li>
	        <li>My challenge to you</li>
        </ul>
    </li>
    <li>Acknowledgments</li>
    <li>Discount pricing</li>
    <li>Notes</li>
</ul>