<h3 class="text-center display-4 mb-5">About the author</h3>
<p>I didn't have many extraordinary advantages growing up, but what I did have was the encouragement of those older than me saying, "do it while you're young." One day, when I was 17, that advice stuck and I started traveling the world. I haven't stopped and now half a lifetime later, I want to tell the world what I've learned and how YOU can live an adventurous and prosperous life!</p>
<p>Find me online at the folloiwng places</p>
{% include social-buttons.html %}
