{% if page.leanpub == null %}
<h3 class="text-center mb-4">Available worldwide</h3>
<p class="mb-5"><strong>Exponential Happiness</strong> is available at these online retailers in paperback and digital formats. You can also ask your local bookstore to order it for you, or request your local library to add it to their catalogue.</p>

<div class="col text-center mb-4">
	<div class="dropdown">
		<button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:#FF9900; color:#000" >
	    Buy on Amazon {% include icons/amazon.svg %}
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="https://amzn.to/2pDAcA6" target="_blank">United States</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="https://www.amazon.com.au/dp/B07YYMZD4T" target="_blank">Australia</a>
			<a class="dropdown-item" href="https://www.amazon.com.br/dp/B07YYMZD4T" target="_blank">Brazil</a>
			<a class="dropdown-item" href="https://www.amazon.ca/dp/1075569184" target="_blank">Canada</a>
			<a class="dropdown-item" href="https://www.amazon.fr/dp/1075569184" target="_blank">France</a>
			<a class="dropdown-item" href="https://www.amazon.de/dp/1075569184" target="_blank">Germany</a>
			<a class="dropdown-item" href="https://www.amazon.it/dp/1075569184" target="_blank">Italy</a>
			<a class="dropdown-item" href="https://www.amazon.in/dp/B07YYMZD4T" target="_blank">India</a>
			<a class="dropdown-item" href="https://www.amazon.co.jp/dp/1075569184" target="_blank">Japan</a>
			<a class="dropdown-item" href="https://www.amazon.com.mx/dp/B07YYMZD4T" target="_blank">Mexico</a>
			<a class="dropdown-item" href="https://www.amazon.nl/dp/B07YYMZD4T" target="_blank">Netherlands</a>
			<a class="dropdown-item" href="https://www.amazon.es/dp/1075569184" target="_blank">Spain</a>
			<a class="dropdown-item" href="https://www.amazon.co.uk/dp/1075569184" target="_blank">United Kingdom</a>
		</div>
	</div>
	<p class="small">Paperback and Kindle</p>

	<div class="dropdown">
		<button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:#1e2b32; color:#FF9900;" >
	    Buy on Audible {% include icons/audible.svg %}
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="https://www.audible.com/pd/B083FJSQPM/?source_code=AUDFPWS0223189MWT-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_us" target="_blank">United States</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="https://www.audible.com.au/pd/Exponential-Happiness-Audiobook/B083FJJM2H" target="_blank">Australia and New Zealand</a>
			<a class="dropdown-item" href="https://www.audible.ca/pd/Exponential-Happiness-Audiobook/B083FJ3B6L" target="_blank">Canada</a>
			<a class="dropdown-item" href="https://www.audible.fr/pd/B083FJ515X/?source_code=FRAORWS022318903B-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_fr" target="_blank">France, Belgium, Switzerland</a>
			<a class="dropdown-item" href="https://www.audible.de/pd/B083FJ7PQ4/?source_code=EKAORWS0223189009-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_de" target="_blank">Germany, Austria, Switzerland</a>
			<a class="dropdown-item" href="https://www.audible.co.jp/pd/Exponential-Happiness-%E3%82%AA%E3%83%BC%E3%83%87%E3%82%A3%E3%82%AA%E3%83%96%E3%83%83%E3%82%AF/B083FJBCY4" target="_blank">Japan</a>
			<a class="dropdown-item" href="https://www.audible.co.uk/pd/B083FJ8PPK/?source_code=AUKFrDlWS02231890H6-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_uk" target="_blank">UK and Ireland</a>
			<a class="dropdown-item" href="https://www.audible.com/pd/B083FJSQPM/?source_code=AUDFPWS0223189MWT-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_us" target="_blank">All other countries</a>
		</div>
	</div>
	<p class="small">Audiobook</p>

	<a class="btn btn-lg text-white" href="https://leanpub.com/exponentialhappiness" target="_blank" role="button" style="background:#000" >Buy on Leanpub {% include icons/leanpub.svg %}</a>
	<p class="small">All digital formats</p>

	<p class="text-center"><a href="#bulk-orders" class="text-secondary">Click here for bulk orders</a></p>

</div>
{% else %}
<div class="card rounded" >
	<div class="card-body bg-white text-dark">
		<span class="badge badge-info">Exclusive Offer</span>
		<p><strong>Free Digital Download</strong> for {{ page.beneficiary }}</p>
		<p>It is my privlidge to offer {{ page.beneficiary }} a free digitial edition of <em>Exponential Happiness</em>.</p>
		<p><a class="btn btn-lg text-white" href="http://leanpub.com/exponentialhappiness/c/{{ page.leanpub }}" target="_blank" role="button" style="background:#000" >Download on Leanpub {% include icons/leanpub.svg %}</a></p>
		<p class="small">Clicking this button will direct you to my publisher's website. Then simply "add to cart" and checkout. No payment will be required.</p>
		<hr>
		<p>Buy the paperback and audiobook here: 
		<div class="dropdown">
			<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:#FF9900; color:#000" >
		    Buy on Amazon {% include icons/amazon.svg %}
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="https://amzn.to/2pDAcA6" target="_blank">United States</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="https://www.amazon.com.au/dp/B07YYMZD4T" target="_blank">Australia</a>
				<a class="dropdown-item" href="https://www.amazon.com.br/dp/B07YYMZD4T" target="_blank">Brazil</a>
				<a class="dropdown-item" href="https://www.amazon.ca/dp/1075569184" target="_blank">Canada</a>
				<a class="dropdown-item" href="https://www.amazon.fr/dp/1075569184" target="_blank">France</a>
				<a class="dropdown-item" href="https://www.amazon.de/dp/1075569184" target="_blank">Germany</a>
				<a class="dropdown-item" href="https://www.amazon.it/dp/1075569184" target="_blank">Italy</a>
				<a class="dropdown-item" href="https://www.amazon.in/dp/B07YYMZD4T" target="_blank">India</a>
				<a class="dropdown-item" href="https://www.amazon.co.jp/dp/1075569184" target="_blank">Japan</a>
				<a class="dropdown-item" href="https://www.amazon.com.mx/dp/B07YYMZD4T" target="_blank">Mexico</a>
				<a class="dropdown-item" href="https://www.amazon.nl/dp/B07YYMZD4T" target="_blank">Netherlands</a>
				<a class="dropdown-item" href="https://www.amazon.es/dp/1075569184" target="_blank">Spain</a>
				<a class="dropdown-item" href="https://www.amazon.co.uk/dp/1075569184" target="_blank">United Kingdom</a>
			</div>
		</div>
		<p class="small">Paperback and Kindle</p>
		<div class="dropdown">
			<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:#1e2b32; color:#FF9900;" >
		    Buy on Audible {% include icons/audible.svg %}
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="https://www.audible.com/pd/B083FJSQPM/?source_code=AUDFPWS0223189MWT-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_us" target="_blank">United States</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="https://www.audible.com.au/pd/Exponential-Happiness-Audiobook/B083FJJM2H" target="_blank">Australia and New Zealand</a>
				<a class="dropdown-item" href="https://www.audible.ca/pd/Exponential-Happiness-Audiobook/B083FJ3B6L" target="_blank">Canada</a>
				<a class="dropdown-item" href="https://www.audible.fr/pd/B083FJ515X/?source_code=FRAORWS022318903B-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_fr" target="_blank">France, Belgium, Switzerland</a>
				<a class="dropdown-item" href="https://www.audible.de/pd/B083FJ7PQ4/?source_code=EKAORWS0223189009-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_de" target="_blank">Germany, Austria, Switzerland</a>
				<a class="dropdown-item" href="https://www.audible.co.jp/pd/Exponential-Happiness-%E3%82%AA%E3%83%BC%E3%83%87%E3%82%A3%E3%82%AA%E3%83%96%E3%83%83%E3%82%AF/B083FJBCY4" target="_blank">Japan</a>
				<a class="dropdown-item" href="https://www.audible.co.uk/pd/B083FJ8PPK/?source_code=AUKFrDlWS02231890H6-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_uk" target="_blank">UK and Ireland</a>
				<a class="dropdown-item" href="https://www.audible.com/pd/B083FJSQPM/?source_code=AUDFPWS0223189MWT-BK-ACX0-177696&ref=acx_bty_BK_ACX0_177696_rh_us" target="_blank">All other countries</a>
			</div>
		</div>
		<p class="small">Audiobook</p>
	</div>
</div>
{% endif %}