<div class="bg-light mb-5 p-2 p-md-5">
	<div class="row justify-content-center">
		<div class="col-md-8 mb-5">

			<h3 class="text-center display-4 mb-5">About the book</h3>

			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k9EM_sqdFUk" allowfullscreen></iframe>
			</div>

		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-8">

			<p><strong>Are you a young person curious about how to make it in this world? Are you the parent, teacher, or mentor to someone in need of guidance? If yes, then this book is for you.&nbsp;</strong></p>

			<p><em>Exponential Happiness</em>&nbsp;is the result of Judson’s journey across the world, exploring diverse lands, cultures, and careers. Through personal stories and dozens of actionable life hacks, you will discover how to:</p>
			<ul>
				<li><strong>Define</strong>&nbsp;what “happiness” means to you</li>
				<li><strong>Identify</strong>&nbsp;your life goals</li>
				<li><strong>Create</strong>&nbsp;an actionable plan to achieve those goals</li>
				<li><strong>Embrace</strong>&nbsp;failure as a learning opportunity</li>
				<li><strong>Live</strong>&nbsp;a life without regrets</li>
			</ul>
			<p>“Do it while you’re young,” a cliché thing to say, but not at all a cliché thing to do. Your life’s experiences are the outcome of the decisions you make. Pursue your goals as young as possible and enjoy a life of exponential happiness!</p>

			<p><strong>Judson L Moore</strong>&nbsp;is a Kentucky-born, Louisiana-raised, technophile who calls Texas home and currently lives in Germany, where he works as a product management professional.</p>

		</div>
	</div>
</div>