<div id="bulk-orders" class="row justify-content-center mb-0">
    <div class="col-md-8">
		<h2 class="text-center display-4 mb-5">Bulk orders</h2>

		<p><strong>Discount offer on bulk orders</strong></p>

		<p>Do you organize a youth camp, community organization, education center, or class, and would like to provide copies of this book to your participants? If yes, please contact me for bulk order pricing by sending an email to orders@judsonlmoore.com with the below information:</p>
		<ul>
			<li>Name</li>
			<li>Organization</li>
			<li>About the recipients</li>
			<li>Quantity of books to order</li>
			<li>Location</li>
		</ul>
		<p>I am also available for speaking and workshop engagements. If this is of interest to you, please let me know in the email.</p>
	</div>
</div>
