<!-- Exponential Happiness Lead Generator -->
<div class="p-0 p-md-5 bg-dark text-white" style="background-image: linear-gradient(to right bottom, #ffa600, #eb921d, #d48029, #bd6f30, #a46033, #985136, #894439, #783939, #6b2d3e, #592442, #431f44, #281c43);">
	<div class="container">
		<div class="row justify-content-center">
		    <div class="col-md-8">
		        <div class="row">
		        	{% include exponential-happiness-sample.html %}
		        </div>
		    </div>
		</div>
	</div>
</div>

<footer class="page-footer bg-dark text-light py-3">

	<div class="container text-center text-md-left mt-5">

		<div class="row row-cols-1 row-cols-lg-5 row-cols-xl-6 mt-3 text-uppercase small">

			<div class="col d-none d-xl-block">
		        <a href="{{ site.url }}">
		            <img src="{{ site.url }}/assets/images/logo.svg" width="150" height="30" alt="Judson L Moore Logo">
		        </a>
			</div>

			<div class="col font-weight-bold">
				<ul class="list-unstyled">
					<li><a href="{{ site.url }}/about/">About Me</a></li>
					<li><a href="{{ site.url }}/book/">My book</a></li>
					<li><a href="{{ site.url }}/resume/">Resume</a></li>
					<li><a href="{{ site.url }}/readinglist/">Reading List</a></li>
				</ul>
			</div>

			<div class="col font-weight-light">
				<ul class="list-unstyled">
					<li><a href="{{ site.url }}/happiness/">Happiness</a></li>
					<li><a href="{{ site.url }}/whileyoung/">#whileyoung</a></li>
					<li><a href="{{ site.url }}/readinglist/">Reading list</a></li>
					<li><a href="{{ site.url }}/categories/">Categories</a></li>
				</ul>
			</div>

			<div class="col font-weight-light">
				<ul class="list-unstyled">
					<li><a href="{{ site.url }}/brazil/">Brazil</a></li>
					<li><a href="{{ site.url }}/colombia/">Colombia</a></li>
					<li><a href="{{ site.url }}/england/">England</a></li>
					<li><a href="{{ site.url }}/egypt/">Egypt</a></li>
				</ul>
			</div>

			<div class="col font-weight-light">
				<ul class="list-unstyled">
					<li><a href="{{ site.url }}/germany/">Germany</a></li>
					<li><a href="{{ site.url }}/india/">India</a></li>
					<li><a href="{{ site.url }}/kyrgyzstan/">Kyrgyzstan</a></li>
					<li><a href="{{ site.url }}/morocco/">Morocco</a></li>
				</ul>
			</div>

			<div class="col font-weight-light">
				<ul class="list-unstyled">
					<li><a href="{{ site.url }}/guest-author/">Guest authors</a></li>
					<li><a href="{{ site.url }}/mediakit/">Media kit</a></li>
					<li><a href="{{ site.url }}/disclosures/">Disclosures</a></li>
					<li><a href="{{ site.url }}/sitemap.xml" target="_blank">Sitemap</a></li>
				</ul>
			</div>

		</div>

	    <hr class="bg-white">

		<div class="py-3 text-center text-md-right small">
		Copyright ©{{ site.time | date: "%Y" }} <a href="{{ site.url }}">{{ site.name }}</a>. All rights reserved.
		</div>

    </div>

</footer>