<form
	action="https://judsonlmoore.us2.list-manage.com/subscribe/post?u={{ include.user }}&amp;id={{ include.list }}"
	method="post"
	name="mc-embedded-subscribe-form"
	class="wj-contact-form validate"
	target="_blank"
	rel="noopener"
	novalidate
	>
	<div class="form-group">
		<!-- <label for="mce-EMAIL">Email address</label> -->
		<input 
			type="email" 
			value="" 
			name="EMAIL" 
			class="form-control required email" 
			id="mce-EMAIL"
			placeholder="Enter email"
		>
	</div>
	{% if include.fname == 'true' %}
	<div class="form-group">
		<!-- <label for="mce-FNAME">First Name</label> -->
		<input 
			type="text" 
			value="" 
			name="FNAME" 
			class="form-control" 
			id="mce-FNAME"
			placeholder="First name"
		>
	</div>
	{% endif %}
	{% if include.lname == 'true' %}
	<div class="form-group">
		<!-- <label for="mce-LNAME">Last Name</label> -->
		<input 
			type="text" 
			value="" 
			name="LNAME" 
			class="form-control" 
			id="mce-LNAME"
			placeholder="Last name"
		>
	</div>
	{% endif %}
	{% if include.value %}
	<div class="form-group" style="display:none">
		<input  
			type="radio" 
			value="{{ include.value }}" 
			name="group[52117]" 
			id="mce-group[52117]-52117-0"
			checked
		>
	</div>
	{% endif %}
	<div class="form-group">
		<small id="emailHelp" class="form-text text-muted">You will be subscribed to email updates. Unsubscribe anytime.</small>
	</div>
	<button
		type="submit"
		value="Subscribe"
		name="subscribe"
		class="btn btn-primary"
	>
		Submit
	</button>
</form>
<script type="text/javascript">
	$("#exampleModal").on("show.bs.modal", function(event) {
		var button = $(event.relatedTarget); // Button that triggered the modal
		var recipient = button.data("whatever"); // Extract info from data-* attributes
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this);
		modal.find(".modal-title").text("New message to " + recipient);
		modal.find(".modal-body input").val(recipient);
	});
</script>
