<div class="card bg-dark text-white">
	{% cloudinary /assets/images/2019/05/exponential-happiness-background.jpg class="card-img" alt="" description="" %}
	<div class="card-img-overlay" style="background: linear-gradient(0deg,rgba(0, 0, 0, 0.7),rgba(2, 2, 2, 0.3))">
		<h5 class="card-title">Are you happy?</h5>
		<p class="card-text">Are you a young person curious about how to make it in this world? Are you the parent, teacher, or mentor to someone in need of guidance? If yes, then this book is for you.</p>
		{% cloudinary /assets/images/2019/05/exponential-happiness-book-cover-digital.png alt="" description="" class="mb-5" %}
		<a class="btn btn-lg btn-block stretched-link" href="https://www.amazon.com/dp/B07YYMZD4T/ref=as_li_ss_tl?ref_=pe_3052080_276849420&linkCode=ll1&tag=judsonlmoore-20&linkId=52a68e390fe715cab2de695cdd19735e&language=en_US" target="_blank" rel="noopener" role="button" style="background:#FF9900; color:#000" >Buy now on Amazon {% include icons/amazon.svg %}</a>
	</div>
</div>