<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background: linear-gradient(0deg,rgba(0, 0, 0, 0.72),rgba(2, 2, 2, 0.92)),url(/assets/images/2019/05/exponential-happiness-background.jpg) center center; background-size: cover;">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-12">
			<p class="h2">Are you happy?</p>
			<p class="lead">Are you a young person curious about how to make it in this world? Are you the parent, teacher, or mentor to someone in need of guidance? If yes, then this book is for you.</p>
		</div>
		<div class="col-12 col-md-6 col-lg-12">
			{% cloudinary /assets/images/2019/05/exponential-happiness-book-cover-digital.png alt="" description="" class="mb-5" %}
			<a class="btn btn-lg btn-block stretched-link" href="https://www.amazon.com/dp/B07YYMZD4T/ref=as_li_ss_tl?ref_=pe_3052080_276849420&linkCode=ll1&tag=judsonlmoore-20&linkId=52a68e390fe715cab2de695cdd19735e&language=en_US" target="_blank" role="button" style="background:#FF9900; color:#000" >Buy now on Amazon <i class="fab fa-amazon"></i></a>
		</div>
	</div>
</div>


