<button
	type="button"
	class="btn btn-primary btn-lg"
	data-toggle="modal"
	data-target="#exampleModal"
	data-whatever="E-Mail"
>
	Subscribe now for more {{ page.category }} travel tips <i class="fas fa-envelope"></i>
</button>

<style type="text/css">
	
	#registration-form{
		max-width: 800px;
		margin: 120px auto;
	}

	#registration-form .image{
		float:left;
		background-image: url("/assets/images/jumbotron.jpg");
		height: 500px;
		width: 50%;
		background-size: cover;
		background-position: 25%;
	}

	#registration-form .frm{
		float:right;
		height: 500px;
	    width: 50%;
	    min-width: 250px;
	    padding: 0 35px;
	    background-size: 100% 100%;
	    background-color: white;
	}

	#registration-form h1{
		margin-top: 30px;
		margin-bottom: 20px;
	}

	#registration-form .form-control{
		width: 90%;
		padding: 12px 20px;
		height: auto;
	}

	@media screen and (max-width: 700px){
		#registration-form .image{
			width: 30%;
		    background-position: 60%;
		}

		#registration-form .frm{
			width: 70%;
		}

		#registration-form .form-control{
			width: 100%;
		}
	}

	@media screen and (max-width: 500px){
		#registration-form .image{
			display: none;
		}

		#registration-form .frm{
			width: 100%;
		}

		#registration-form h1{
			text-align: center;
		}

		#registration-form .btn{
			width: 100%;
			margin-top: 20px;
		}
	}

</style>

<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
        	<div class="modal-header">
	            <h1>Sign up</h1>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <!-- <form>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </div>
            </form> -->
            {% include form-opt-in.html %}
        </div>
    </div>
</div>

