<nav class="yamm navbar navbar-expand-lg navbar-light bg-light">

  <ul class="navbar-nav mr-auto">
    <!-- Grid 12 Menu-->
    <li class="nav-item dropdown yamm-fw"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Grid</a>
      <div class="dropdown-menu p-0">
        <div class="grid-demo">
          <div class="row">
            <div class="col-sm-12">.col-sm-12</div>
          </div>
          <div class="row">
            <div class="col-sm-6">.col-sm-6</div>
            <div class="col-sm-6">.col-sm-6</div>
          </div>
          <div class="row">
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
          </div>
          <div class="row">
            <div class="col-sm-3">.col-sm-3</div>
            <div class="col-sm-3">.col-sm-3</div>
            <div class="col-sm-3">.col-sm-3</div>
            <div class="col-sm-3">.col-sm-3</div>
          </div>
          <div class="row">
            <div class="col-sm-2">.col-sm-2</div>
            <div class="col-sm-2">.col-sm-2</div>
            <div class="col-sm-2">.col-sm-2</div>
            <div class="col-sm-2">.col-sm-2</div>
            <div class="col-sm-2">.col-sm-2</div>
            <div class="col-sm-2">.col-sm-2</div>
          </div>
          <div class="row">
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
            <div class="col-sm-1">.col-sm-1</div>
          </div>
        </div>
      </div>
    </li>
    <!--With Offsets
    -->
    <li class="nav-item dropdown yamm-fw"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Offset</a>
      <div class="dropdown-menu p-0">
        <div class="grid-demo">
          <div class="row">
            <div class="col-sm-4">4</div>
            <div class="col-sm-4 col-sm-offset-4">4 offset 4</div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-sm-offset-3">3 offset 3</div>
            <div class="col-sm-3 col-sm-offset-3">3 offset 3</div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">6 offset 6</div>
          </div>
        </div>
      </div>
    </li>
    <!--Aside Menu
    -->
    <li class="nav-item dropdown yamm-fw"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Aside</a>
      <div class="dropdown-menu p-0">
        <div class="grid-demo">
          <div class="row">
            <div class="col-sm-3">
              <div class="d-flex py-4 justify-content-center align-items-center">
                <h3>3</h3>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="d-flex py-4 justify-content-center align-items-center">
                <h3>9</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <!--Nesting Menu
    -->
    <li class="nav-item dropdown yamm-fw"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Nesting</a>
      <div class="dropdown-menu p-0">
        <div class="grid-demo">
          <div class="row">
            <div class="col-sm-12">12</div>
          </div>
          <div class="row">
            <div class="col-sm-12">12
              <div class="row">
                <div class="col-sm-4">4</div>
                <div class="col-sm-4">4</div>
                <div class="col-sm-4">4</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <!--Dropup
    -->
    <li class="nav-item dropup yamm-fw"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Dropup</a>
      <div class="dropdown-menu p-0">
        <div class="grid-demo">
          <div class="row">
            <div class="col-sm-12">12</div>
          </div>
          <div class="row">
            <div class="col-sm-12">12
              <div class="row">
                <div class="col-sm-4">4</div>
                <div class="col-sm-4">4</div>
                <div class="col-sm-4">4</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>
<script>
  $(function() {
    window.prettyPrint && prettyPrint()
    $(document).on('click', '.yamm .dropdown-menu', function(e) {
      e.stopPropagation()
    })
  })
</script>