<nav class="navbar navbar-expand-lg navbar-light bg-blue fixed-top mediumnavigation nav-down">
    <div class="container pr-0">
        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <h1 class="logo-title">{{ site.name }}</h1>
            <p class="logo-subtitle">
                {{ site.description }}
            </p>
        </a>
        <!-- End Logo -->

        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarMediumish"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMediumish">
            <!-- Begin Menu -->

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Asia
                    </a>
                    <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <a class="dropdown-item" href="/india/"
                            >India</a
                        >
                        <a class="dropdown-item" href="/kyrgyzstan/"
                            >Kyrgyzstan</a
                        >
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Europe
                    </a>
                    <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <a class="dropdown-item" href="/england/"
                            >England</a
                        >
                        <a class="dropdown-item" href="/germany/"
                            >Germany</a
                        >
                        <a class="dropdown-item" href="/switzerland/"
                            >Switzerland</a
                        >
                        <a class="dropdown-item" href="/turkey/"
                            >Turkey</a
                        >
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        MENA
                    </a>
                    <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <a class="dropdown-item" href="/egypt/"
                            >Egypt</a
                        >
                        <a class="dropdown-item" href="/morocco/"
                            >Morocco</a
                        >
                        <a class="dropdown-item" href="/uae/">UAE</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Americas
                    </a>
                    <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <a class="dropdown-item" href="/brazil/"
                            >Brazil</a
                        >
                        <a class="dropdown-item" href="/colombia/"
                            >Colombia</a
                        >
                        <a class="dropdown-item" href="/usa/">USA</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="/whileyoung/">
                        #WhileYoung
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/female-travel/"
                        ><i class="fab fa-snapchat-ghost"></i> Female
                        Travel</a
                    >
                </li>
            </ul>
            {% include search-lunr.html %}
            <!-- End Menu -->
        </div>
    </div>
</nav>
