<form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="EMAIL" class="form-control required email" id="mce-EMAIL" aria-describedby="emailHelp" placeholder="Enter email" autocomplete="on" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" value="Subscribe" name="subscribe" class="btn btn-primary heart">Submit</button>
</form>