<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#exampleModal"
	data-whatever="E-Mail"
>
	Subscribe now for more {{ page.category }} travel tips
</button>

<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div style="float: left;max-width: 60%;color:#000">
					<h2>3 FREE chapters are just a click away...</h2>
					<p>
						My new book book is nearly finished and you can access
						the first 3 chapters for free right now! Just tell me
						where to send them...
					</p>
				</div>
				<div style="float:right; max-width: 30%">
					<img
						src="../assets/images/2019/05/exponential-happiness-book-cover-paperback-3d.png"
					/>
				</div>
				{% include opt-in.html %}
			</div>
		</div>
	</div>
</div>
