<div class="p-3 p-sm-5 mt-5 text-dark bg-white shadow-sm">
	<h2>Related posts</h2>

	{% assign maxRelated = 4 %}
	{% assign minCommonTags =  1 %}
	{% assign maxRelatedCounter = 0 %}


	{% for post in site.posts %}


    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
		{% if post.url != page.url %}
			{% if page.tags contains tag %}
				{% assign sameTagCount = sameTagCount | plus: 1 %}
				{% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
				{% assign commonTags = commonTags | append: tagmarkup %}
			{% endif %}
		{% endif %}
	{% endfor %}

    {% if sameTagCount >= minCommonTags %}

	<div class="card mb-3">
		<div class="row no-gutters">
		    <div class="col-md-5">
				{% if post.image %}
				{% cloudinary default {{ site.baseurl }}{{ site.image-path }}{{ post.image }} alt="{{ post.title }}" %}
				{% endif %}
			</div>
		    <div class="col-md-7">
				<div class="card-body">
			        <h5 class="card-title">{{ post.title }}</h5>
			        <p class="card-text"><small class="text-muted">{{ post.date | date_to_string }}</small></p>
			        <a href="{{ site.baseurl }}{{ post.url }}" class="stretched-link"></a>
		      </div>
			</div>
		</div>
	</div>

	{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
		{% if maxRelatedCounter >= maxRelated %}
			{% break %}
		{% endif %}
	{% endif %}
	{% endfor %}
</div>