<div>
  <a 
  href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}&amp;src=sdkpreparse" 
  target="_blank"
  rel="noopener" 
  onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;"
  class="mr-2 text-base font-22" >
    <i class="fab fa-facebook-square fb-xfbml-parse-ignore"></i>
  </a>
  <a
    href="https://twitter.com/intent/tweet?text={{ page.url | absolute_url | url_encode }}"
    target="_blank"
    rel="noopener"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
    data-text="I just read {{ page.title }} on {{ site.title }} and you should too!"
    data-url="{{ page.url | absolute_url }}"
    data-related="{{ site.twitter.username }}"
    data-lang="{{ site.lang }}"
    data-show-count="false"
    class="mr-2 text-base font-22"
  >
    <i class="fab fa-twitter-square"></i>
  </a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <a
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }} &summary={{ page.excerpt | strip_html | url_encode }}&source={{ site.url | absolute_url | url_encode }}"
    target="_blank" 
    rel="noopener" 
    onclick="window.open(this.href, 'linkedin-share', 'width=550,height=435');return false;"
    class="mr-2 text-base font-22"
  >
    <i class="fab fa-linkedin"></i>
  </a>
</div>