<div class="share sticky-top sticky-top-offset pt-5">
    <p>
        Share
    </p>
    <ul class="list-unstyled">
        <li class="ml-1 mr-1">
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" target="_blank" rel="noopener" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="text-dark" >
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" target="_blank" rel="noopener" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;" class="text-dark" >
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" target="_blank" rel="noopener" onclick="window.open(this.href, 'width=550,height=435');return false;" class="text-dark" >
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        {% if page.comments != false %}
        <li>
            <a class="small smoothscroll" href="#disqus_thread" class="text-dark" ></a>
        </li>
        {% endif %}
    </ul>
</div>
