<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
	<div class="card-header">Subscribe</div>
	<div class="card-body bg-light">
	{% include form-opt-in.html %}
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
	<div class="card-header">Subscribe</div>
	<div class="card-body bg-light">
		<h5 class="card-title">Primary card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
</div>


<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
	<div class="card-header">Subscribe</div>
	<div class="card-body bg-light">
		<h5 class="card-title">Primary card title</h5>
		{% include instagram.html clientId="d98d7d64aecf4686b4d202112bb92d24" userId="211587932" accessToken="1dc906a17dd8435ebcb2cb67438be2f0" %}
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
</div>
