<div class="col-lg-4 px-3 p-sm-0 pl-lg-4">

	<div class="card rounded shadow-sm mb-5 d-none d-lg-block">
		<div class="card-header bg-dark text-light">Subscribe</div>
		<div class="card-body bg-white text-dark">
			{% include form-opt-in.html %}
			<p class="small text-muted mb-0">Unsubscribe anytime</p>
		</div>
	</div>

	<div class="card rounded shadow-sm mb-5 d-none d-lg-block">
		<div class="card-header bg-dark text-light">Related posts</div>
		<div class="card-body bg-white text-dark">
	    	{% include related-posts.html %}
		</div>
	</div>

	<div class="card rounded shadow-sm mb-5 d-none d-lg-block">
		<div class="card-body bg-white text-dark">
			<div class="fb-page" data-href="https://www.facebook.com/judsonlmooreblog/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/judsonlmooreblog/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/judsonlmooreblog/">Judson L Moore</a></blockquote></div>

			<!-- Feed provided by https://socialfeed.pixlee.com/ -->
			<div id="pixlee_container"></div>
			<script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'sKv7dYEwCI5v-8OakMGG'});Pixlee.addSimpleWidget({widgetId:'26093'});};</script>
			<script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
		</div>
	</div>

    {% if page.categories contains "brazil" %}
	<div class="card rounded shadow-sm mb-5 d-none d-lg-block">
		<div class="card-header bg-dark text-light">This post sponsored by</div>
		<div class="card-body bg-white text-dark">
		    <a href="http://visitbrasil.com/" target="_blank">
				{% cloudinary /assets/images/2017/03/advert-visit-brazil.jpg alt="Logo of visitbrasil.com, the Official Brazillian Tourism Website" %}
			</a>
		</div>
	</div>
    {% endif %}

</div>