<div class="card bg-dark mb-3" >
	<div class="card-header text-white">Subscribe</div>
	<div class="card-body bg-light">
		{% include form-opt-in.html %}
	</div>
</div>

<div class="card bg-dark mb-3" >
	<div class="card-header text-white">Subscribe</div>
	<div class="card-body bg-light text-dark">
		<h5 class="card-title">Primary card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
</div>


<div class="card text-white bg-dark mb-3" >
	<div class="card-header text-white">Instagram</div>
	<div class="card-body bg-light text-dark">
		<h5 class="card-title">Follow my adventure!</h5>
		{% include instagram.html clientId="d98d7d64aecf4686b4d202112bb92d24" userId="211587932" accessToken="211587932.d98d7d6.86f45ebe22df4150a00d7c7827b9b934" limit="5" %}
		<p class="card-text">Always be up to date by following me on Instagram</p>
		<a href="https://www.instagram.com/judsonlmoore" target="_blank" type="button" class="btn btn-ins">
            <i class="fab fa-instagram pr-1"></i>
            <span>Instagram</span>
        </a>
	</div>
</div>
