<img
	src="https://res.cloudinary.com/judsonlmoore-com/image/fetch/c_limit,f_auto,q_auto,w_800/{{ site.baseurl }}/{{ include.src }}"
	alt="{{ include.alt }}"
	srcset="
		https://res.cloudinary.com/judsonlmoore-com/image/fetch/c_limit,f_auto,q_auto,w_320/{{ site.baseurl }}/{{ include.src }} 320w, 
		https://res.cloudinary.com/judsonlmoore-com/image/fetch/c_limit,f_auto,q_auto,w_540/{{ site.baseurl }}/{{ include.src }} 540w, 
		https://res.cloudinary.com/judsonlmoore-com/image/fetch/c_limit,f_auto,q_auto,w_758/{{ site.baseurl }}/{{ include.src }} 758w, 
		https://res.cloudinary.com/judsonlmoore-com/image/fetch/c_limit,f_auto,q_auto,w_800/{{ site.baseurl }}/{{ include.src }} 800w, 
	"
/>
