$white:				#fff;
$red:				#dc3545;
$light:				#f8f9fa;
$dark:				#343a40;
$body-bg:			$light;
$body-color:		$dark;

/* Custom Vars */
$custom-font-size:	20px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1380px;