---
title:						Subscribe
description: 			Learn why a subscription to Judson's newsletter is a good thing to have and get signed up
layout: 					default
---


{% include hero.html %}

<!-- conact form -->
<div class="pb-14">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-md-12 col-12">

        <div class="card mt-n12 text-center mb-12">
          <div class="card-body p-4 p-lg-8">
            <div class="mb-5">
              <h2 class="mb-3">Join me on an adventure</h2>
              <p>
                You are joining a community of +60,000!
              </p>
            </div>

            {% include form-opt-in.html %}
            <p class="text-left text-muted small">Unsubscribe anytime.</p>

          </div>
        </div>

        <div class="container">
				  <div class="row mt-lg-10">
				  	<div class="card-deck">
				      <div class="card mb-4">
				        <div class="card-body p-4">
				          <i class="far fa-edit fa-fw text-primary font-28 mb-4"></i>
				          <h4>Latest Posts</h4>
				          <p class="mb-0">
				            Be the first to know when I publish a new article or guide
				          </p>
				        </div>
				      </div>
				      <div class="card mb-4 mb-4">
				        <div class="card-body p-4">
				          <i class="fas fa-gifts fa-fw text-primary font-28 mb-4"></i>
				          <h4>Free Stuff</h4>
				          <p class="mb-0">
				            Exclusive guides, templates, and content to help you live your dream
				          </p>
				        </div>
				      </div>
				    </div>
				  </div>
				  <div class="row">
						<div class="card-deck">
				      <div class="card mb-4 mb-4">
				        <div class="card-body p-4">
				          <i class="fas fa-mail-bulk fa-fw text-primary font-28 mb-4"></i>
				          <h4>Postcards</h4>
				          <p class="mb-0">
				            I turn my best photos into postcards and offer them to you
				          </p>
				        </div>
				      </div>
				      <div class="card mb-4 mb-4">
				        <div class="card-body p-4">
				          <i class="far fa-laugh fa-fw text-primary font-28 mb-4"></i>
				          <h4>Laugh</h4>
				          <p class="mb-0">
				            I have a great collection of travel comics that I will share with you
				          </p>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>

      </div>
    </div>
  </div>
</div>
