---
layout: default
---


<!-- hero section -->
<div class="bg-shape bg-dark">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
        <div class="pt-lg-14 pb-lg-8 py-12 text-center">

          {% cloudinary {{ page.avatar }} alt="{{ page.name }}" class="rounded-circle avatar-xxl mx-auto mb-4 img-fluid" %}

          <h1 class="display-4 text-white">{{ page.name }}</h1>
          <p class="lead text-light">
            {{ page.content | markdownify }}
          </p>
          <div class="mt-6 mb-4">
            {% if page.facebook %}
            <a href="https://facebook.com/{{ page.facebook }}" class="mr-3 text-white"><i class="fab fa-facebook-square"></i></a>
            {% endif %}
            {% if page.twitter %}
            <a href="https://twitter.com/{{ page.twitter }}" class="mr-3 text-white"><i class="fab fa-twitter-square"></i></a>
            {% endif %}
            {% if page.instagram %}
            <a href="https://instagram.com/{{ page.instagram }}" class="mr-3 text-white"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {% if page.medium %}
            <a href="https://medium.com/{{ page.medium }}" class="mr-3 text-white"><i class="fab fa-medium"></i></a>
            {% endif %}
            {% if page.linkedin %}
            <a href="https://linkedin.com/{{ page.linkedin }}" class="mr-3 text-white"><i class="fab fa-linkedin"></i></a>
            {% endif %}
          </div>
          <p class="text-light">
            <a href="{{ '/authors/' | absolute_url }}" class="text-light mr-4">Back to all Authors</a>
            <span>
              {{ author.posts | where: 'short_name', post.author | first | size }} Articles
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- blog post -->
<div class="pt-12 pb-12 ">
  <div class="container">
    <div class="row">

      {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
      {% for post in filtered_posts %}
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="mb-8">
          <!-- post classic block -->
          {% if post.image %}
          <div class="mb-4">
            <a href="{{ post.url | absolute_url }}">
              <div class="img-zoom">
                {% cloudinary {{ post.image }} alt="{{ post.title }}" class="img-fluid rounded w-100" %}
              </div>
            </a>
          </div>
          {% endif %}
          <div>
            <a href="{{ category | slugify | absolute_url }}" class="text-info mb-3 font-14 d-inline-block font-weight-semi-bold ">{{page.autopage.display_name}}</a>
            <a href="{{ post.url | absolute_url }}">
              <h3 class="mb-3">
                {{ post.title | escape }}
              </h3>
            </a>
            <div class="mb-3">
              <div class="font-14">
                <span class="mr-2">{{ post.date | date_to_string }}</span>
                {% assign author = site.authors | where: 'short_name', post.author | first %}
                <span>Posted by <a href="{{ author.url }}">{{ author.name }}</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- post classic block -->
      </div>
      {% endfor %}

      {% include pagination.html%}

    </div>
  </div>
</div>