---
title: fullwidth-hero
layout: default 

--- 

<style type="text/css">
	#fullwidth-img {
		background-image: url("{{ site.image-path }}{{ page.image }}");
		background-size: cover;
	    background-position: center;
	}
</style>

<!-- Header -->
<div id="fullwidth-img" class="container-fluid py-5 mb-0 mb-sm-5">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
		    <div class="col-lg-12">
				<h1 class="display-3 font-weight-bolder text-white mt-5 mb-2" style="line-height: 1.5em;">
					<span style="background-color: {% if page.color %}#{{ page.color }}{% else %}#000000{% endif %}; padding: 5px 10px;">
					{{ page.title }}
					</span>
				</h1>
				<p class="h4 font-weight-bolder text-white mb-5">
					<span style="background-color: {% if page.color %}#{{ page.color }}{% else %}#000000{% endif %}; padding: 5px 10px;">
					{{ page.subtitle }}
					</span>
				</p>
		    </div>
		</div>
	</div>
</div>
<!-- /Header -->

<!-- container -->
<div class="container">

	<div class="row bg-white shadow-sm p-3 p-sm-5 mb-5">
		<div class="col">
			{{content}}
		</div>
	</div>

	<section>
		<div class="row row-cols-1 row-cols-md-3">
			{% assign posts = site.posts | where_exp: "item" , "item.categories contains page.category"%} 
			{% for post in posts %} 
			{% include postbox.html %} 
			{% endfor %}
		</div>
	</section>

</div>
<!-- /container -->

