---
layout:         default
---


{% include hero.html %}

<!-- publications section -->
<div class="mb-0 bg-light d-none d-lg-block">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center text-center py-3">
      {% for item in site.data.resume.publications %}
      <div class="col-md-2 my-auto px-3 px-xl-5">
        {% cloudinary {{ item.image-bw }} alt="{{ item.name }}" class="grayscale" %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- about section -->
<div class="pt-lg-12 pt-8">
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 col-xl-6 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h2 class="mb-3 h1">Hi, my name is Judson</h2>
          <p class="lead">
            I am a Kentucky-born, Louisiana-raised, technophile who calls Texas home and currently lives in Germany, where I work as a product management professional, play the drums, and write about the pursuit of happiness.
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-end">
      <div class="col-xl-7 col-lg-12 col-md-12 col-12 d-none d-md-block">
        <div class="row">
          <div class="col-md-4 mb-2 mb-lg-2">
            {% cloudinary assets/images/homepage/judson-pushing-lews-wheelchair.jpg alt="" class="img-fluid rounded h-100 w-100 img-hover-zoom--basic" %}
          </div>
          <div class="col-md-8 mb-2 mb-lg-2">
            {% cloudinary assets/images/homepage/judson-moore-speaking-at-becoming-ebay-in-berlin.jpg alt="" class="img-fluid rounded h-100 w-100" %}
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-12 col-md-12 col-12 mt-3 mt-xl-0">
        <p class="mb-9">
          “Do it while you’re young,” a cliché thing to say, but not at all a cliché thing to do. Your life’s experiences are the outcome of the decisions you make. Pursue your goals as young as possible and enjoy a life of exponential happiness!
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 mb-2 mb-lg-2">
            {% cloudinary assets/images/homepage/judson-l-moore-speaks-at-rotary-club-of-alexandria.jpg alt="" class="img-fluid h-100 rounded w-100" %}
          </div>
          <div class="col-lg-6 col-md-6 col-12 mb-2 mb-lg-2 d-none d-md-block">
            {% cloudinary assets/images/homepage/judson-volunteering-in-talas-kyrgyzstan-orphanage.jpg alt="" class="img-fluid h-100 rounded w-100" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- blog section -->
<div class="pt-lg-12 pt-8">
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 col-xl-6 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h2 class="mb-3 h1">Latest articles</h2>
          <p class="lead">
            Be encouraged to get an early start at living a full and adventurous life with tips for living your "what if" while young.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      {% for post in site.posts limit:6 %}
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="mb-8">
          <!-- post classic block -->
          <div class="mb-4">
            <a href="{{ post.url | absolute_url }}">
              <div class="img-zoom">
                {% cloudinary {{ post.image }} alt="{{ post.title }}" class="img-fluid rounded w-100" %}
              </div>
            </a>
          </div>
          <div>
            {% assign sortedCategories = post.categories | sort %} {% for category in sortedCategories limit:1 %}
            <a href="{{ 'category' | slugify | absolute_url }}" class="text-info mb-3 font-14 d-inline-block font-weight-semi-bold">{{ category }}</a>
            {% endfor %}
            <a href="{{ post.url | absolute_url }}">
              <h3 class="mb-3">
                {{ post.title }}
              </h3>
            </a>
            <div class="mb-3">
              <div class="font-14">
                <span class="mr-2">{{ post.date | date:"%B %e, %Y" }}</span>
                {% assign author = site.authors | where: 'short_name', page.author | first %}
                <span>Posted by <a href="{{ author.url }}">{{ author.name }}</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- post classic block -->
      </div>
      {% endfor %}

    </div>
  </div>
</div>

<!-- client logo -->
<div class="py-lg-12 py-8">
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 col-xl-6 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h3 class="h4">
            Experiences rooted in the world's greatest organizations
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex h-100">
    <div class="row text-center py-3">
      {% for item in site.data.logo-wall limit:12 %}
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 justify-content-center align-self-center">
        <div class="mb-4 mx-2 text-center">
          {% cloudinary /assets/images/logos/{{ item.image }} alt="{{ item.alt }}" class="grayscale" %}          
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>