---
title: Legal
layout: default
---


<div class="site-content">
    <div class="container">
        <!-- Content
================================================== -->
        <div class="main-content">
            <section>
                <div class="article-post">
					<section>
						<div class="row">
							<div class="col">

								<h1>{{ page.title }}</h1>

								<p><a href="/terms-and-conditions/">Terms and Conditions</a> | <a href="/refund-policy/">Refund Policy</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/disclosures/">Disclosures</a></p>
							</div>
						</div>
						<div class="row">
						    <div class="col">
						    	{{ content }}
						    </div>
						</div>
					</section>
				</div>
			</section>
		</div>
	</div>
</div>