---
title: page-right-sidebar
layout: default
---

<!-- container -->
<div class="container bg-white p-5 my-5 mt-3 mt-md-5">

    <section>
        <div class="article-post">
            <div class="row">
                <div class="col-lg-8 px-3 p-sm-0">
                    {{content}}
                </div>
                <div class="col-lg-4 p-3 px-sm-0 pl-lg-3 pt-lg-0">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>
    </section>

</div> 
<!-- /container -->
