---
layout: default
---

{% include hero.html %}

<!-- podcast details -->
<div class="py-lg-12 py-10">
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 col-xl-6 col-lg-12 col-md-12 col-12">
        <div class="mb-5">

          <div class="navbar-scroll">
            <ul>
              {% if page.apple-podcasts %}
              <li>
                <a href="{{ page.apple-podcasts }}" class="btn btn-primary-soft p-3 mr-3 mb-3 mb-md-0" target="_blank"><i class="fas fa-podcast mr-2"></i>Apple Podcasts </a>
              </li>
              {% endif %}
              {% if page.google-podcasts %}
              <li>
                <a href="{{ page.google-podcasts }}" class="btn btn-warning-soft text-warning p-3 mr-3" target="_blank"><img src="../assets/images/google-podcast.svg" alt="" class="mr-2" />Google Podcasts </a>
              </li>
              {% endif %}
              {% if page.spotify %}
              <li>
                <a href="{{ page.spotify }}" class="btn btn-success-soft text-success p-3" target="_blank"><img src="../assets/images/spotify.svg" alt="" class="mr-2" />Spotify </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="mb-5">
          {% if page.lead %}
          <p class="lead">
            {{ page.lead }}
          </p>
          {% endif %}

          {{ content }}

        </div>

        {% if page.notes %}
        <div class="mb-8">
          <h3 class="mb-4">In this episode, you will hear:</h3>
          <ul class="list-group">
            {% for note in page.notes %}
            <li class="list-group-item">
              <div class="d-flex">
                <p class="mr-4 text-dark font-weight-bold">({{ note.timestamp }})</p>
                <p class="mb-0">
                  {{ note.note }}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="mb-0">
          <h3 class="mb-4">Share</h3>

          <div>
            <a 
            href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}&amp;src=sdkpreparse" 
            target="_blank"
            rel="noopener" 
            onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;"
            class="mr-2 text-base font-22" >
              <i class="fab fa-facebook-square fb-xfbml-parse-ignore"></i>
            </a>
            <a
              href="https://twitter.com/intent/tweet?text={{ page.url | absolute_url | url_encode }}"
              target="_blank"
              rel="noopener"
              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
              data-text="I just read {{ page.title }} on {{ site.title }} and you should too!"
              data-url="{{ page.url | absolute_url }}"
              data-related="{{ site.twitter.username }}"
              data-lang="{{ site.lang }}"
              data-show-count="false"
              class="mr-2 text-base font-22"
            >
              <i class="fab fa-twitter-square"></i>
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a
              href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }} &summary={{ page.excerpt | strip_html | url_encode }}&source={{ site.url | absolute_url | url_encode }}"
              target="_blank" 
              rel="noopener" 
              onclick="window.open(this.href, 'linkedin-share', 'width=550,height=435');return false;"
              class="mr-2 text-base font-22"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>