---
layout: default
---


<div class="bg-shape bg-cover" style="{% include cloudinary-bg-image.html %}">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
        <div class="py-13 pt-lg-16 pb-lg-14 text-center text-light">
          <h1 class="h5 mb-8 text-white">{{ page.podcast-name }}</h1>
          <h1 class="font-weight-bold text-white mb-3 display-4">
            {{ page.episode-name }}
          </h1>
          <p class="mb-0 font-12 font-weight-bold"><span class="mr-3">{{ page.date | date_to_string }}</span><span>{{ page.duration }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- podcast details -->

<div class="py-lg-12 py-10">
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 col-xl-6 col-lg-12 col-md-12 col-12">
        <div class="mb-5">

          <div class="navbar-scroll">
            <ul>
              {% if page.apple-podcasts %}
              <li>
                <a href="{{ page.apple-podcasts }}" class="btn btn-primary-soft p-3 mr-3 mb-3 mb-md-0" target="_blank"><i class="fas fa-podcast mr-2"></i>Apple Podcasts </a>
              </li>
              {% endif %}
              {% if page.google-podcasts %}
              <li>
                <a href="{{ page.google-podcasts }}" class="btn btn-warning-soft text-warning p-3 mr-3" target="_blank"><img src="../assets/images/google-podcast.svg" alt="" class="mr-2" />Google Podcasts </a>
              </li>
              {% endif %}
              {% if page.spotify %}
              <li>
                <a href="{{ page.spotify }}" class="btn btn-success-soft text-success p-3" target="_blank"><img src="../assets/images/spotify.svg" alt="" class="mr-2" />Spotify </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="mb-5">
          {% if page.lead %}
          <p class="lead">
            {{ page.lead }}
          </p>
          {% endif %}

          {{ content }}

        </div>
        <div class="mb-8">
          <h3 class="mb-4">In this episode, you will hear:</h3>
          <ul class="list-group">
            {% for note in page.notes %}
            <li class="list-group-item">
              <div class="d-flex">
                <p class="mr-4 text-dark font-weight-bold">({{ note.timestamp }})</p>
                <p class="mb-0">
                  {{ note.note }}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="mb-0">
          <h3 class="mb-4">Share</h3>

          {% include share.html %}

        </div>
      </div>
    </div>
  </div>
</div>