---
layout: default
disqus: true
archive: false
post_class: post-template
---

<div class="container mt-3 mt-md-5">

    <div class="row">

        <!-- Post -->
        <div class="col-lg-8 px-3 px-sm-0 mb-5">
            <div class="mainheading pt-1 pt-md-0">

                <!-- Post Title -->
                <div class="bg-white p-3 p-md-5 shadow-sm">

                    <h1 class="posttitle">{{ page.title }}</h1>

                    <!-- Post Date -->
                    <small>
                        <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                        {% if page.last_modified_at %}
                        (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                    {% endif %}
                    </small>

                    <!-- Post Categories/Tags -->
                    <ul class="list-inline">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li class="list-inline-item">
                            <a class="smoothscroll badge badge-primary" href="{{site.url}}/categories#{{ category }}">
                                <span>{{ category }}</span>
                            </a>
                        </li>
                        {% endfor %}
                        {% assign sortedTags = page.tags | sort %}
                        {% for tag in sortedTags %}
                        <li class="list-inline-item">
                            <a class="smoothscroll badge badge-secondary" href="{{site.url}}/tags#{{ tag }}">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- End Categories/Tags -->

                </div>

            </div>

            {% if page.image %}
            <!-- Post Featured Image -->
            <div class="p-0 shadow-sm">
                {% cloudinary featured {{ site.url }}{{ site.image-path }}{{ page.image }} alt="{{ page.title }}" %}
            </div>
            <!-- End Featured Image -->
            {% endif %}

            <!-- Post Content -->
            <div class="article-post bg-white p-3 p-sm-5 mb-5 shadow-sm">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}

                <!-- Begin Comments -->
                {% if page.comments != false %}
                {% include disqus.html %}
                {% endif %}
                <!--End Comments -->
            </div>

            {% assign author = site.authors | where: 'short_name', page.author | first %}
            {% if author %}
            {% include author-box.html %}
            {% endif %}

            <!-- Related Posts -->
            {% include related-posts.html %}
            <!-- /Related Posts -->

            <!-- Prev/Next -->
            <div class="p-3 p-sm-5 mb-5 text-dark bg-white shadow-sm">
                <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
                    <div class="col-md-6">
                        {% if page.previous.url %}
                        <a class="prev d-block stretched-link" href="{{ site.url }}{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {% if page.next.url %}
                        <a class="next d-block text-lg-right stretched-link" href="{{ site.url }}{{page.next.url}}">{{page.next.title}} &raquo; </a>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- End Prev/Next -->

        </div>

        <!-- Begin Sidebar -->
        {% include sidebar.html %}
        <!-- End Sidebar -->

    </div> <!-- row -->

</div> <!-- container -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/ -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}