---
layout:         default
disqus:         true
archive:        false
post_class:     post-template
---

<div class="container mt-3 mt-md-5">

    <div class="row">

        <!-- Post -->
        <div class="col px-3 px-sm-0">
            <div class="mainheading pt-1 pt-md-0">

                <!-- Post Header -->
                <div class="pb-3 pb-md-5">

                    <!-- Post Categories/Tags -->
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories limit:1 %}
                    <a class="text-uppercase font-weight-bold font-italic" href="{{site.url}}/categories#{{ category }}">
                        <span>{{ category }}</span>
                    </a>
                    {% endfor %}
                    <!-- End Categories/Tags -->

                    <!-- Post Date -->
                    <small class="text-muted">
                        <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%B %e, %Y" }}">{{ page.date | date:"%B %e, %Y" }}</time></span>           
                        {% if page.last_modified_at %}
                        | <strong>Updated</strong> <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%B %e, %Y" }}</time>)
                        {% endif %}
                    </small>
                    <!-- End Post Date -->

                    <h1 class="display-4">{{ page.title }}</h1>

                    <p class="meta">{{ page.date | date: '%B %d, %Y' }} |
                        <span>
                            <a href="{{ page.url }}#disqus_thread">0 Comments</a>
                        </span> |
                    <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Min Read
                    </p>

                    {% assign author = site.authors | where: 'short_name', page.author | first %}
                    {% if author %}
                    <!-- Post Author -->
                    <div class="media text-muted">
                        {% if author.avatar %}
                        {% cloudinary {{ site.url }}{{ author.avatar }} alt="{{ author.name }}" class="mr-2 d-none d-md-block" width="64" heigh="64" %}
                        {% endif %}
                        <p class="media-body pb-3 mb-0 lh-125">
                            <strong class="d-block text-gray-dark"><span class="d-md-none">By </span>{{ author.name }}</strong>
                            {{ author.content | strip_html }} {% if author.twitter %}Follow me on <a href="https://www.twitter.com/{{ author.twitter }}" target="_blank">twitter</a>.{% endif %} {% if author.facebook %}Find me on<a href="https://www.facebook.com/{{ author.facebook }}" target="_blank"> facebook</a>.{% endif %}
                        </p>
                    </div>
                    <!-- End Post Author -->
                    {% endif %}

                </div>

            </div>

        </div>
    </div>

    <div class="row">

        <!-- Post -->
        <div class="col-lg-8 px-3 px-sm-0">

            {% if page.image %}
            <!-- Post Featured Image -->
            {% cloudinary {{ site.url }}{{ page.image }} alt="{{ page.title }}" %}
            <!-- End Featured Image -->
            {% endif %}

            <!-- Post Content -->
            <div class="article-post bg-white p-0 p-sm-5">

                {% if page.toc != false %}
                <!-- Toc -->
                <div class="toc">
                    <h3>In this post...</h3>
                    {% assign my_min = page.toc_min | default: site.toc_min | default: 1 %}
                    {% assign my_max = page.toc_max | default: site.toc_max | default: 2 %}
                    {% include toc.html html=content sanitize=true h_min=my_min h_max=my_max %}
                </div>
                <!-- End Toc -->
                {% endif %}

                {{content}}

                {% if page.comments != false %}
                <hr>
                <!-- Begin Comments -->
                {% include disqus.html %}
                <!--End Comments -->
                {% endif %}
            </div>

        </div>

        <!-- Begin Sidebar -->
        {% include sidebar.html %}
        <!-- End Sidebar -->

    </div> <!-- row -->

</div> <!-- container -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/ -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "BlogPosting",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
}
</script>
{% endif %}