---
layout: 			default
---

<!-- pageheader section -->
<div class="bg-shape bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="py-lg-14 pt-12 pb-8">
          <h1 class="h2 text-white">Shop</h1>
          <!-- breadcrumbs -->
          <div class="custom-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ site.url }}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{{ 'shop' | absolute_url }}">Shop</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{{ page.product.category | absolute_url }}">{{ page.product.category }}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Product Details: {{ page.product.title }}
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- product details -->
<div class="py-12">
  <div class="container">
    <div class="row align-items-center">
      <!-- image -->
      <div class="col-lg-4 col-md-4 col-12">
      	{% cloudinary {{ page.product.image }} alt="" class="img-fluid" %}
      </div>
      <!-- description -->
      <div class="offset-lg-1 col-lg-7 col-md-8 col-12">
        <h2>{{ page.product.title }}</h2>
        <h3 class="lead">{{ page.product.subtitle }}</h3>
        <p>by<span class="text-primary"> {{ page.product.author }}</span></p>
        <div class="d-flex">
          <div class="dropdown">
            <span class="font-12">
              <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i>
            </span>
            <a class="text-dark" href="#!" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="align-middle"><i class="fe fe-chevron-down"></i></span>
            </a>
            <!-- dropdown menu -->
            <div class="dropdown-menu dropdown-menu-lg p-3" aria-labelledby="dropdownMenuLink">
              <span class="font-14">
                <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i>
              </span>
              <span class="h5">4.6 out of 5</span>
              <p class="font-14">2,693 customer ratings</p>
              <!-- row -->
              <div class="row align-items-center mb-1">
                <div class="col-md-2 col-2 pr-0">
                  <div class="font-12 text-dark">5 Star</div>
                </div>
                <div class="col-md-8 col-8 pr-2">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 78%;" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-md-2 col-2">
                  <div class="font-12 text-dark">78%</div>
                </div>
              </div>
              <div class="row align-items-center mb-1">
                <div class="col-md-2 col-2 pr-0">
                  <div class="font-12 text-dark">4 Star</div>
                </div>
                <div class="col-md-8 col-8 pr-2">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 12%;" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-md-2 col-2">
                  <div class="font-12 text-dark">12%</div>
                </div>
              </div>
              <div class="row align-items-center mb-1">
                <div class="col-md-2 col-2 pr-0">
                  <div class="font-12 text-dark">3 Star</div>
                </div>
                <div class="col-md-8 col-8 pr-2">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-md-2 col-2">
                  <div class="font-12 text-dark">5%</div>
                </div>
              </div>
              <div class="row align-items-center mb-1">
                <div class="col-md-2 col-2 pr-0">
                  <div class="font-12 text-dark">2 Star</div>
                </div>
                <div class="col-md-8 col-8 pr-2">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 2%;" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-md-2 col-2">
                  <div class="font-12 text-dark">2%</div>
                </div>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-md-2 col-2 pr-0">
                  <div class="font-12 text-dark">1 Star</div>
                </div>
                <div class="col-md-8 col-8 pr-2">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 1%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-md-2 col-2">
                  <div class="font-12 text-dark">1%</div>
                </div>
              </div>
              <a href="#!" class="">See all customer reviews</a>
            </div>
          </div>
          <!-- rating -->
          <div>
            <span class="ml-2 font-12 text-dark"> 2,693 ratings</span>
            <span class="badge badge-success-soft text-uppercase ml-2">{{ page.product.status }}</span>
          </div>
        </div>
        <hr class="my-4" />
        <div class="mb-3 font-20">
          <span class="text-dark mr-2">${{ page.product.sale-price }}</span>
          <span class="text-muted"><s>${{ page.product.price }}</s></span>
        </div>
        <a href="#" class="btn btn-outline-primary mr-2">Add to cart</a>
        <a href="#!" class="btn btn-light">Add to wishlist</a>
        <p class="mt-4 font-14 mb-1"><span class="text-dark mr-1">Category:</span><a href="#!" class="text-inherit ml-1">{{ page.product.category }}</a></p>
        <p class="font-14"><span class="text-dark mr-1">Tags:</span><a href="#!" class="text-inherit ml-1">life coach</a>,<a href="#!" class="text-inherit ml-1">motivation</a>,<a href="#!" class="text-inherit ml-1">success</a></p>
      </div>
    </div>
    <hr class="my-10" />
    <!-- product detail list -->
    <div class="row">
      <div class="col-lg-4 col-md-5 col-12">
        <h4 class="mb-3">Product details</h4>
        <ul class="list-group list-group-flush font-14 mb-0">
          <li class="list-group-item px-0 py-1"><span class="text-dark">{{ page.product.format }}:</span> {{ page.product.pages }} pages</li>
          <li class="list-group-item px-0 py-1"><span class="text-dark">Publisher:</span> {{ page.product.publisher }} ({{ page.product.publish-date }})</li>
          <li class="list-group-item px-0 py-1"><span class="text-dark">Language:</span> {{ page.product.language }}</li>
          <li class="list-group-item px-0 py-1"><span class="text-dark">ISBN:</span> {{ page.product.isbn }}</li>
          <li class="list-group-item px-0 py-1"><span class="text-dark">Product Dimensiona:</span> {{ page.product.size }}</li>
          <li class="list-group-item px-0 py-1"><span class="text-dark">Product Weight:</span> {{ page.product.weight }}</li>
        </ul>
      </div>
      <!-- description -->
      <div class="col-lg-8 col-md-7 col-12">
        <h4 class="mb-3">Description</h4>
        
        {{ content }}

      </div>
    </div>
    <hr class="my-10" />
    <div class="row">
      <!-- customer reviews -->
      <div class="col-lg-4 col-md-5 col-12 mb-4 mb-lg-0 pr-lg-6">
        <div class="mb-6">
          <h4 class="mb-3">Customer reviews</h4>
          <span class="font-14"><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i></span>
          <span class="h5">4.6 out of 5</span>
          <p class="font-14">2,693 customer ratings</p>
          <div class="row align-items-center mb-1">
            <div class="col-md-2 col-2 pr-0">
              <div class="font-12 text-dark">5 Star</div>
            </div>
            <div class="col-md-8 col-8 pr-2">
              <div class="progress" style="height: 8px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 78%;" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2 col-2">
              <div class="font-12 text-primary">78%</div>
            </div>
          </div>
          <div class="row align-items-center mb-1">
            <div class="col-md-2 col-2 pr-0">
              <div class="font-12 text-dark">4 Star</div>
            </div>
            <div class="col-md-8 col-8 pr-2">
              <div class="progress" style="height: 8px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 12%;" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2 col-2">
              <div class="font-12 text-primary">12%</div>
            </div>
          </div>
          <div class="row align-items-center mb-1">
            <div class="col-md-2 col-2 pr-0">
              <div class="font-12 text-dark">3 Star</div>
            </div>
            <div class="col-md-8 col-8 pr-2">
              <div class="progress" style="height: 8px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2 col-2">
              <div class="font-12 text-primary">5%</div>
            </div>
          </div>
          <div class="row align-items-center mb-1">
            <div class="col-md-2 col-2 pr-0">
              <div class="font-12 text-dark">2 Star</div>
            </div>
            <div class="col-md-8 col-8 pr-2">
              <div class="progress" style="height: 8px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 2%;" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2 col-2">
              <div class="font-12 text-primary">2%</div>
            </div>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col-md-2 col-2 pr-0">
              <div class="font-12 text-dark">1 Star</div>
            </div>
            <div class="col-md-8 col-8 pr-2">
              <div class="progress" style="height: 8px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 1%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2 col-2">
              <div class="font-12 text-primary">1%</div>
            </div>
          </div>
        </div>
        <div>
          <h4 class="mb-1">Review this {{ page.product.type }}</h4>
          <p class="font-12">Share your thoughts with other customers</p>
          <a href="{{ page.reviews-url }}" class="btn btn-primary btn-block">Write A Review <i class="fas fa-external-link-alt"></i></a>
        </div>
      </div>
      <!-- customer reviews list -->
      <div class="col-lg-8 col-md-7 col-12">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div>
            <h4 class="mb-0">Ratings &amp; Reviews</h4>
          </div>
        </div>

        {% assign review = page.reviews %}
        {% for item in page.reviews %}
        <!-- reviews -->
        <div class="mb-4 pb-4 border-bottom">
          <div class="d-flex mb-3 align-items-center">
            {% cloudinary {{ item.avatar }} alt="" class="rounded-circle avatar-lg" %}
            <div class="ml-2">
              <h5 class="mb-1">
                {{ item.name }}
                {% cloudinary /assets/images/verified.svg alt="{{ item.name }} is a verified reviewer of {{ page.product.title }}" %}
              </h5>

              <p class="font-12 mb-0"><span>{{ item.position }}</span> <span>{{ date.avatar }}</span></p>
            </div>
          </div>
          <div class="mb-2">
            <span class="font-14 mr-2">
              <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i>
            </span>
            <span class="h5">{{ item.title }}</span>
          </div>
          <p>
            {{ item.description }}
          </p>
          <a href="{{ item.source-url }}" class="btn btn-light btn-sm mr-2">View comment on {{ item.source }}</a>
        </div>
        {% endfor %}

        <a href="{{ page.reviews-url }}" class="btn btn-primary">Read More Reviews</a>
      </div>
    </div>
  </div>
</div>
